*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body{
    font-family: 'Poppins';
    background-color: #d8dbe2;
    width: 100%;
    height: 100vh;
}
ul{
    list-style: none;
}

/* navbar */
.navbar{
    display:flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}
.navbar > div {
    padding: 0 30px;
    font-size: 20px;
}
.navbar .menu{
    margin-right: auto;
}
.navbar .lang{
    font-size: 10px;
    font-weight: 600;
    text-transform: uppercase;
}

/* media  */
.media ul li {
    font-size: 10px;
    font-weight: 600;
    letter-spacing: 2px;
    display: inline-block;
}
